[client]
default-character-set=utf8
[mysqld]
#default-character-set=utf8
character-set-server=utf8
collation-server=utf8_general_ci
lower_case_table_names=1
max_connections=1500
max_allowed_packet = 20M
###性能优化
innodb_data_file_path = ibdata1:76M:autoextend
innodb_log_file_size=256M
innodb_log_files_in_group=2
innodb_buffer_pool_size=1024M
####

log-bin=mysql-bin 
server-id=11
replicate-ignore-db = mysql,information_schema
#slave-skip-errors
sync_binlog = 1
binlog_checksum = none
binlog_format = mixed
#rpl_semi_sync_master_enabled=1
