[client]
default-character-set=utf8
[mysqld]
#default-character-set=utf8
character-set-server=utf8
collation-server=utf8_general_ci
lower_case_table_names=1
max_connections=1500
max_allowed_packet = 20M

#以下为主从相关配置
server-id=12
log-bin=mysql-bin
#replicate-do-db=huanqiu
replicate-ignore-db=mysql
slave-skip-errors = all

###性能优化
innodb_data_file_path = ibdata1:76M:autoextend
innodb_log_file_size=256M
innodb_log_files_in_group=2
innodb_buffer_pool_size=1024M
####并行同步
slave-parallel-type=LOGICAL_CLOCK
slave-parallel-workers=16
master_info_repository=TABLE
relay_log_info_repository=TABLE
relay_log_recovery=ON

